:root {
  --primary-color: #64a6bd;
  --secondary-color: #fa8334;
  --tertiary-color: #ffffeb;
  --quaternary-color: #040f0f;
}

a,
a:visited,
a:active {
  color: var(--secondary-color);
  text-decoration: none;
}

.icon {
  font-size: 1.5rem;
}

.icon:hover {
  color: var(--tertiary-color);
  transform: scale(1.1);
}

.card {
  margin: 16px;
  padding: 8px;
}

.name {
  text-align: center;
}

.socials {
  text-align: center;
}