#group-name {
  color: var(--tertiary-color);
  text-align: center;
}

#group-info {
  color: var(--secondary-color);
}

.icon,
.icon:visited,
.icon:active {
  color: var(--secondary-color);
  text-decoration: none;
}

.icon {
  font-size: 1.5rem;
}

.icon:hover {
  color: var(--quinary-color);
  transform: scale(1.1);
}

.name {
  text-align: center;
}

.socials {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  #group-info {
    width: 80%;
  }
  
  .card-container {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .card {
    flex-grow: 1;
    height: auto;
    width: 40%;
  }
}
