:root {
  --primary-color: #64a6bd;
  --secondary-color: #fa8334;
  --tertiary-color: #ffffeb;
  --quaternary-color: #040f0f;
}

li {
  font-weight: bold;
}

li:hover {
  color: var(--secondary-color);
}

.ingredient-info li {
  font-weight: normal;
}  

.ingredient-info li:hover {
  color: black;
}