.drink-section.card {
  background-color: var(--tertiary-color);
  border-radius: 35px;
  box-shadow: 5px 5px 10px var(--quaternary-color);
  margin: 8px;
  min-height: 200px;
  padding: 16px;
  text-align: center;
}

.favorited {
  list-style-type: none;
  padding: 0;
}

li {
  font-weight: bold;
}

li:hover {
  color: var(--secondary-color);
}

.ingredient-info li {
  font-weight: normal;
}

.ingredient-info li:hover {
  color: black;
}

@media screen and (min-width: 768px) {
  .drink-section.card {
    height: auto;
    width: 40%;
  }
}
