* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
}

.footer {
  text-align: center;
}

#about-us {
  padding: 16px;
  text-decoration: none;
}

#about-us:hover {
  transform: scale(1.1);
}