* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.icon {
  font-size: 1.5rem;
}

.icon:hover {
  transform: scale(1.1);
}

.card {
  margin: 16px;
  padding: 8px;
}

.name {
  text-align: center;
}

.socials {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card-container {
    display: flex;
    justify-content: space-around;
    margin: 16px;
    padding: 8px;
  }

  .card {
    flex-grow: 1;
    width: 30%;
  }
}
