:root {
  --primary-color: #64a6bd;
  --secondary-color: #fa8334;
  --tertiary-color: #ffffeb;
  --quaternary-color: #040f0f;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
}

.footer {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  text-align: center;
}