:root {
  --primary-color: #070c18;
  --secondary-color: #e5e7eb;
  --tertiary-color: #ef626c;
  --quaternary-color: #c3434c;
  --quinary-color: #38bdf8;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "RedHatDisplay", Arial, Helvetica, sans-serif;
  height: 100vh;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-family: "RedHatDisplay";
  margin: 8px;
  padding: 8px;
}

button:hover {
  color: var(--quinary-color);
  cursor: pointer;
}

.header {
  align-items: center;
  color: var(--quinary-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  margin: 8px;
  text-align: center;
}

.nav-bar a{
  padding: 8px;
}

.header__title {
  font-size: 1.6rem;
  padding: 16px;
}

.active {
  color: var(--tertiary-color);
}

.intro,
.tagline {
  color: var(--quinary-color);
  margin: 8px;
  padding: 0 8px;
  text-align: center;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: var(--quinary-color);
  text-shadow: 0 0 6px var(--secondary-color), 0 0 12px var(--secondary-color), 0 0 20px var(--secondary-color);
}

.main-container {
  flex-grow: 1;
  margin: 8px;
  padding: 16px;
}

.hide {
  display: none;
}

.card {
  background-color: var(--tertiary-color);
  border-radius: 35px;
  box-shadow: 5px 5px 10px var(--quaternary-color);
  margin: 8px;
  min-height: 200px;
  padding: 16px;
  text-align: center;
}

.btn-container {
  text-align: center;
}

select {
  border: none;
  border-radius: 5px;
  font-family: "RedHatDisplay", Arial, Helvetica, sans-serif;
  margin: 8px;
  padding: 4px;
  width: 80%;
}

img {
  border-radius: 30px;
  box-shadow: 5px 5px 10px var(--quaternary-color);
  height: auto;
  width: 250px;
}

.ingredient-list,
.cast-list {
  text-align: left;
}

#recipe {
  text-align: left;
}

.footer {
  color: var(--secondary-color);
  margin: 16px;
  padding: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    align-items: center;
  }

  .header__title {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .nav-bar {
    flex-direction: row;
    gap: 2rem;
  }

  .main-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .intro,
  .tagline {
    display: block;
  }

  .card {
    flex: 0 0 30%;
  }
}
